.titel{
    font-weight: 200;
    font-size:300%;
    font-family: 'Economica', sans-serif;
}
.bild {
    width: 35%;
    height:550px;
    border-radius: 100%;
    margin-right:100px;
    position: relative;
    float:right;
}