.titel{
 font-weight: 200;
 font-size:300%;
 font-family: 'Economica', sans-serif;
 

 
}

.bild {
    
    width: 45%;
    height:700px;
    border-radius: 100%;
    
    
    position: relative;
    float:right;
}