.navbar-wrapper {
    position: absolute;
    display:flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top:100px;
    flex-direction: column;
    border: 2px solid black;
    padding: 100px;
    
}

.navbar-home {
    border: 2px solid black;
}
.navbar-kontakt {
    border: 2px solid black;
}
.navbar-ommig {
    border: 2px solid black;
}
.navbar-projekt {
    border: 2px solid black;
}