.navbar-wrapper {
    position: absolute;
    display:flex;
    
    margin-left: 280px;
    margin-top:120px;
    flex-direction: column;
    border: 0.5px solid rgb(191, 191, 191);
    border-radius: 35px;
    padding: 50px;
    
    
}
.navbar-btn {
    width:200px;
    background-color: rgb(105, 105, 105);
    color: white;
    border-radius: 4px;
    border:none;
    height: 60px;
    cursor: pointer;
    font-family: 'Economica', sans-serif;
    font-size: 150%;
}
.navbar-btn:hover {
 transition: 0.7s;
 background: linear-gradient(
    45deg,
    rgba(49, 79, 161, 0.685) 60%,
    rgba(111, 111, 111, 0.674) 100%
    );
}
.navbar-home {
    
    
    margin: 20px;
    width:200px;
}
.navbar-kontakt {
   
    margin: 20px;
    width:200px;
}
.navbar-ommig {
    
    margin: 20px;
    width:200px;
}
.navbar-projekt {
    
    margin: 20px;
    width:200px;
}